.linha_vermelha {
    background-color: red;
    height: 3px;
}
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        text-align: center;
    }
}
.govsp {
    background-color: black;
    padding: 10px 50px 10px 20px; 
    border-radius: 0 100px 100px 0; 
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.govsp:hover {
    background-color: #333;
}

.fatec-container {

    display: flex;
    justify-content: flex-end;
}

.govsp-container {
    text-decoration: none;
}
.atalhos{
    color: black;
    font-style: bold;
}